.caret {
    animation: blink-caret .75s step-end infinite;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { stroke-opacity: 0 }
    50% { stroke-opacity: 1; }
}

.copy {
    pointer-events: bounding-box;
    opacity: 0.4;
}
.copy:hover {
    opacity: 1;
}